body {
  background-color: rgb(253, 255, 239);
}

/* #container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  
} */

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}


.card-img-top {
  width: 205px;
  height: 205px;
  padding: 5px 0px 5px 70px;

 
}

.card-body {
  background-color: aliceblue;
}

.btn-all {
  background-color: rgb(255, 88, 157)
};

.btn-dog {
  background-color: rgb(255, 183, 183);
}

.btn-cat {
  background-color: rgb(255, 167, 94);
}

.btn-dino {
  background-color: rgb(138, 138, 252);
}

.cat {
background-color: rgb(255, 167, 94);
}

.dino {
background-color: rgb(138, 138, 252);
}

.dog {
background-color: rgb(255, 183, 183);
}

.heading {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  
  
}
